.head{
    height:62px;
    background-color: #333;

}
.title{
    color:#a9a9a9;
    font-family: 'Roboto';
    font-size: 25px;
    letter-spacing: 2.275px;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    padding: 16px;
}
.intro{
    background-color: #8A0707;
    height: 289px;
    display: flex;
    flex-direction: column;
    border-color: #8A0707;
    justify-content: center;
    align-items: flex-start;
    
}
.container{
    text-align: left;
    color: white;
    padding-left: 95px;
}

.top{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.736px;

}
.tagline {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Roboto';
}

.tagline span {
    font-size: 14px;
    text-transform: uppercase;
}
.first{
    background-color: #fff;
}
.article-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.article-content {
    width: 40%;
}
.article-content h1 {
    margin-top:59px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1.012px;
    text-align: left;
    line-height: 65px;
    font-family: 'Montserrat';
}

.article-content .author {
    font-size: 14px;
    color: #595959;
    letter-spacing: 1.274px;
    line-height: 17.5px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Roboto';
}

.article-image {
    width: 45%;
}

.article-image img {
    width: 100%;
    height: 500px;
    
}
.align{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 1150px;
    margin-top: 50px;
    margin-left: 80px;
    border: none;
}
.contain {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image img {
    width: 100%;
    height: 300px;
}

.overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.overlay h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    font-family: 'Roboto';
    margin-bottom: 10px;
    color:white;
}

.overlay p {

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-shadow: #0000004d 0px 2px 10px;
    color: #fff;
    font-style: italic;
    font-family: 'Roboto';
}
.align-second{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 850px;
    margin-top: 50px;
    margin-left: 80px;
    border: none;
}
.second{
    background-color: #fff;
}
.article-container-second{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}
.article-content-second {
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.article-image-second{
    width: 65%;
}
.article-image-second img {
    width: 100%;
    height: 680px;
    
}
.author-second{
    font-size: 32px;
    font-family: 'Montserrat';
    letter-spacing: 2.912px;
    text-transform: uppercase;
    line-height: 44.8px;
    text-align: center;
    color: #595959;
    font-weight: 400;
}
.name{
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
    line-height: 20px;

}
.information{
    color:#595959;
    font-family: 'Roboto';
    text-align: center;
    line-height: 24px;

}
.contact
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-title{
    color: black;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1.012px;
    line-height: 30px;
    padding-bottom:0px ;
    text-align: center;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}
.brand{
    color:#8A0707;
    font-family: "Montserrat";
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 1.426px;
    line-height: 0px;
    text-align: center;
}
.brand-info{
    color:#595959;
    font-family: 'Roboto';
    text-align: center;
    line-height: 24px;
    margin-left:250px;
    margin-right: 250px;
    padding-bottom: 65px;
}
.hi{
    font-weight: 700;
}
.outside{
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
    padding: 20px;
}
.other-news {
    text-align: center;
    margin-top: 30px;
    
}
.other-news h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #f7f7f7;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1.104px;
    line-height: 67.2px;
    padding-bottom: 40px;
    font-family: 'Montserrat';
}
.news-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.news-card {
    background-color: white;
    color: black;
    overflow: hidden;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.news-content {
    padding: 15px;
}
.date {
    font-size: 15px;
    color: #777;
    margin-bottom: 10px;
}
.news-content h3{
    
        font-size: 1.2em;
        margin-bottom: 15px;
        font-weight: 700;
    
}
.read-more {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.news-card:hover {
    border-color: white;
    border-width: 1px; 
    border-style: solid; 
}
.sign {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.signup-container {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.signup-container h1 {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1.012px;
    line-height: 52.8px;
    text-align: center;
    color: #8b1f1f;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}

.signup-container p {
    font-size: 20px;
    color: #5e5e5e;
    line-height: 24px;
    font-family: 'Roboto';
    letter-spacing: 1.012px;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="email"] {
    padding: 10px;
    font-size: 15px;
    height: 47px;
    border: 1px solid #ccc;
    width: 700px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    color: #8b1f1f;
    background-color: #fff;
    border: 2px solid #8b1f1f;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8b1f1f;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #801717;
    color: #fff;
    font-size: 0.9em;
}

footer p {
    margin-bottom: 5px;
}
@media (max-width: 768px) {
    .head {
        height: 50px;
    }

    .title {
        font-size: 18px;
        padding: 10px;
    }

    .intro {
        height: auto;
        padding: 20px;
    }

    .container {
        padding-left: 20px;
    }

    .article-container, .article-container-second {
        flex-direction: column;
        align-items: center;
    }

    .article-content, .article-content-second, .article-image, .article-image-second {
        width: 100%;
    }

    .article-image img, .article-image-second img {
        height: auto;
    }

    .align-second {
        width: 100%;
        height: 1000px;
        margin: 20px 0;
    }
    .align{
        width: 100%;
        height: 1600px;
        margin: 20px 0;
    }

    .hero-image img {
        height: auto;
    }

    .overlay h1 {
        font-size: 28px;
    }

    .overlay p {
        font-size: 20px;
    }

    .signup-container input[type="email"] {
        width: 90%;
    }

    .news-grid {
        flex-direction: column;
    }

    .news-card {
        width: 100%;
        margin-bottom: 20px;
    }
    
}